<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Форма Счета</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{bar :: bar}"></div>
<div class="content">
  <h1>Форма Счета</h1>
  <form th:action="@{/accounts}" th:object="${account}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <label>Баланс:</label>
      <input type="text" th:field="*{balance}"/>
    </div>
    <div>
      <label>ID Клиента:</label>
      <select th:field="*{clientId}">
        <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.fio}"></option>
      </select>
    </div>
    <div>
      <button type="submit">Сохранить</button>
    </div>
  </form>
</div>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
